html {
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    box-sizing: inherit;
}

.wrapper{
    width: 900px;
    margin: 0 auto;
}

.header {
    padding: 50px 0 0 0;
    margin: 0 0 100px 0;
}

.nav-list {
    text-align: center;
    font-size: 0px;
}

.list-item {
    font-size: 16px;
    list-style: none;
    display: inline-block;
}

.nav-list li:not(:last-child){
    margin-right: 120px;
}

.nav-link {
    display: block;
    text-decoration: none;
    color: grey;
    font-family: 'Playfair Display', serif;
}

a:hover, a:focus {
    color: #3CF;
}

.aticle-list {
    font-size: 0;
    margin-bottom: 60px;
}
.aticle-item:nth-last-child(-n + 2){
    margin-bottom: 0;
}
.aticle-item:nth-child(2n) {
    margin-right: 0;
}
.aticle-item {
    list-style: none;
    display:inline-block;
    width: 420px;
    margin: 0 50px 130px 0;
}

.aticle-img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin: 0 0 35px 0;
}
.aticle-p {
    margin: 0 0 35px 0;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: grey;
    text-transform: uppercase;
}
.aticle-header {
    margin: 0 0 40px 0;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: grey;
}
.aticle-text{
    font-family: 'Playfair Display', serif;
    font-size: 14px;
}
.load-more-button {
    border: 1px solid black;
    display: block;
    margin: 0 auto;
    padding: 16px 26px;
    width: 165px;
    height: 60px;
    color: grey;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    background-color: white;
    cursor: pointer;
}