*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 900px;
    margin: 0 auto;
}

.header {
    padding: 50px 0 0 0;
    margin: 0 0 100px 0;
}

.nav-list {
    text-align: center;
    font-size: 0px;
}

.list-item {
    font-size: 16px;
    list-style: none;
    display: inline-block;
    margin: 0 120px 0 0;
}

.nav-link {
    display: block;
    text-decoration: none;
    color: grey;
    font-family: 'Playfair Display', serif;
}

a:hover {
    color: #3CF;
}

.aticle-list {
    font-size: 0;
}

.aticle-item {
    font-size: 16px;
    list-style: none;
    display:inline-block;
    width: 420px;
    margin: 0 0 130px 0;
}
img {
    width: 420px;
    height: 280px;
}

.aticle-item-f {
    margin: 0 50px 0 0;
}

.aticle-img {
    margin: 0 0 35px 0;
}

.aticle-p {
    margin: 0 0 35px 0;
    font-family: 'Playfair Display', serif;
    color: grey;
}

.aticle-header {
    margin: 0 0 40px 0;
    font-family: 'Playfair Display', serif;
    color: grey;
}

.load-more-list{
    margin: 0 auto;
    width: 165px;
}
.load-more-item{
    list-style: none;
    display: inline-block;
}

.load-more-button {
    /* border: grey solid 1px; */
    color: grey;
    padding: 10px 10px;
    width: 165px;
    height: 60px;
    font-family: 'Playfair Display', serif;
    background-color: white;
    text-align: center;
}

/*
.load-more{
    margin: 0 auto;
    width: 165px;
}

.load-more-list{
    margin: 0 0 70px 0;
}


.load-more-link {
    text-decoration: none;
    color: grey;
    font-family: 'Playfair Display', serif;
    text-align: center;
}
*/